<div class="Container" >
    <div class="ContainerS">
        <ul>
          <h3>Siguenos</h3>
          <li>Instagram</li>
          <li>Facebook</li>
          <li>Youtube</li>
          <li>LinkedIn</li>
          <li>Twitter</li>
        </ul>
        <ul>
            <h3>Tiendas</h3>
            <li>Busca una tienda</li>
            <li>Horarios</li>
            <li>Eventos</li>
        </ul>

        <ul>
            <h3>Atencion al cliente</h3>
            <li>Supermercados</li>
            <li>Tecnología</li>
            <li>Hogar</li>
            <li>Deportes</li>
        </ul>

    </div>
    <div>
    <p>Términos y Condiciones</p>
    <p>Politica de Privacidad</p>
    </div>
</div>