<div class="container">
    <section class="Filtros">
        <ul>
            <li>Accesorios para Vehículos (1420)</li>
            <li>Agro (69)</li>
            <li>Alimentos y Bebidas (161)</li>
            <li>Animales y Mascotas (455)</li>
            <li>Antigüedades y Colecciones (25)</li>
            <li>Arte, Papelería y Mercería (185)</li>
            <li>Bebés (421)</li>
            <li>Belleza y Cuidado Personal (1209)</li>
            <li>Cámaras y Accesorios (124)</li>
            <li>Celulares y Teléfonos (900)</li>
            <li>Computación (1169)</li>
            <li>Consolas y Videojuegos (127)</li>
            <li>Construcción (243)</li>
            <li>Deportes y Fitness (2216)</li>
            <li>Electrodomésticos (682)</li>
            <li>Electrónica, Audio y Video (665)</li>
            <li>Herramientas (637)</li>
            <li>Hogar y Muebles (2205)</li>
            <li>Industrias y Oficinas (343)</li>
            <li>Instrumentos Musicales (117)</li>
            <li>Juegos y Juguetes (545)</li>
            <li>Libros, Revistas y Comics (139)</li>
            <li>Otras categorías (44)</li>
            <li>Recuerdos, Piñatería y Fiestas (55)</li>
            <li>Relojes y Joyas (452)</li>
            <li>Ropa y Accesorios (1809)</li>
            <li>Salud y Equipamiento Médico (781)</li>
          </ul>
    </section>   

    <section class="products">
        <ul>
            <li *ngFor="let product of Product">
                    <section class="product">
                        <ng-container *ngIf="product">
                     <h2>{{product.productName}}</h2>
                     <p>category: {{product.category.name}}</p>
                     <p>$ {{product.price}}</p>
                     <img class="image" [ngSrc]="product.img[0]" alt="" width="200" height="200">
                     <div>
                         <button>Comprar</button>
                     </div>
                 </ng-container>
                 </section>
            </li>
        </ul>

        </section>
</div>