
  <title>Caja de Comentarios</title>

<div class="container">

    <h1>Comentarios </h1>

    <form class="form" action="">
        <textarea name="" id="" cols="30" rows="10" placeholder="Escribe tu comentario" ></textarea>
    </form>
     <div class="comment-box">
    <h3>Nombre: Juan Pérez</h3>
    <p>Fecha: 19 de junio de 2023</p>
    <p>Contenido del comentario: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ac neque eu ligula aliquam pretium. Nulla nec tincidunt purus, nec efficitur turpis.</p>
  </div>

  <div class="comment-box">
    <h3>Nombre: María López</h3>
    <p>Fecha: 20 de junio de 2023</p>
    <p>Contenido del comentario: Sed dictum elit in dignissim dapibus. Curabitur ut ex finibus, interdum erat id, ultricies velit. Integer volutpat tempus massa, vitae placerat ligula tincidunt eget.</p>
  </div>
  <div class="comment-box">
    <h3>Nombre: Juan Pérez</h3>
    <p>Fecha: 19 de junio de 2023</p>
    <p>Contenido del comentario: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ac neque eu ligula aliquam pretium. Nulla nec tincidunt purus, nec efficitur turpis.</p>
  </div>

  <div class="comment-box">
    <h3>Nombre: María López</h3>
    <p>Fecha: 20 de junio de 2023</p>
    <p>Contenido del comentario: Sed dictum elit in dignissim dapibus. Curabitur ut ex finibus, interdum erat id, ultricies velit. Integer volutpat tempus massa, vitae placerat ligula tincidunt eget.</p>
  </div>
  <div class="comment-box">
    <h3>Nombre: Juan Pérez</h3>
    <p>Fecha: 19 de junio de 2023</p>
    <p>Contenido del comentario: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ac neque eu ligula aliquam pretium. Nulla nec tincidunt purus, nec efficitur turpis.</p>
  </div>

  <div class="comment-box">
    <h3>Nombre: María López</h3>
    <p>Fecha: 20 de junio de 2023</p>
    <p>Contenido del comentario: Sed dictum elit in dignissim dapibus. Curabitur ut ex finibus, interdum erat id, ultricies velit. Integer volutpat tempus massa, vitae placerat ligula tincidunt eget.</p>
  </div>
  <br>
  <br>
</div>
 