<!-- <button (click)="changeTitle()" >change</button> -->

<!-- llamamos al selector del nuevo componente -->
<!--  ngFor para iterar se crea una variable iteradora "product" que itera de la variable Product -->

<!-- <app-product [product]="product" *ngFor="let product of Product"> </app-product>  -->
<div class="contenedorP">
    <div class="container">
        <nav class="navP">
            <h1>Hola mundo. {{title}}</h1>
            <span>
                <input type="text" placeholder="Buscar..">
            </span>
            <ul>
                <li><a routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a>
                </li>
                <li><a routerLink="/Product" routerLinkActive="active" ariaCurrentWhenActive="page">Products</a>
                </li>
            </ul>
        </nav>
        <nav class="navS">
            <ul>
              
                <li>
                     <!-- <a routerLink="/category" routerLinkActive="active" ariaCurrentWhenActive="page">Categorias</a> -->
                    <select name="" id=""  >
                        <option *ngFor="let categories of this.category " value="{{categories}}">{{categories}}</option>
                    </select>
                    </li>
                <li> <a routerLink="/offers" routerLinkActive="active" ariaCurrentWhenActive="page">Ofertas</a></li>
                <li><a routerLink="/market" routerLinkActive="active" ariaCurrentWhenActive="page">vender</a></li>
                <li><a routerLink="/fashion" routerLinkActive="active" ariaCurrentWhenActive="page">Moda</a></li>
                <li><a routerLink="/help" routerLinkActive="active" ariaCurrentWhenActive="page">Ayuda</a></li>
            </ul>
        </nav>
    </div>
    <router-outlet></router-outlet>
    <div>
        <app-footer></app-footer>
    </div> 

</div>

<!-- The routed views render in the <router-outlet>-->