.container {
    margin: 100px 200px 100px 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.faq-item {
    margin-bottom: 20px;
}

.faq-answer {
    margin-left: 20px;
    list-style-type: circle;
}

.pqrForm{
    width: 70%;
}
.pqr-form {
 
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    align-items: flex-start;
    width: 300px;
    & input{
        width: 300px;
        height: 30px;
        padding: 5px;
        font-size: 1rem;
        border-radius: 5px;
        border-style: none;
        outline-style: none;
        border-radius: 5px;
        box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.282);
        margin: 10px;
    }
    & textarea{
        padding: 5px;
        margin: 10px  0px 20px 0px;
        width: 300px;
        min-width: 200px;
        min-height: 100px;
        max-height: 400px;
        max-width: 500px;
        border-radius: 5px;
        overflow: hidden;
        font-size: 1.5rem;
        border-style: none;
        outline-style: none;
     box-shadow: 1px 2px 5px 2px rgba(0, 0, 0, 0.294);
    }
    & button{
        border-radius: 2.5px;
        background-color: honeydew;
        border-style: double;

    }
}

.pqr-form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}


h1 {
    text-align: center;
}

.section-title {
    font-weight: bold;
    margin-top: 30px;
}


.pqr-form button {
    padding: 10px 20px;
    background-color: #46b349;
    color: white;
    border: none;
    outline-color: rgb(72, 162, 115);
    outline-style: double;
    cursor: pointer;
    border-radius: 2.5px;
    margin-left: 5px;
}

.pqr-form button:hover {
    background-color: #347737;
    outline-color: rgb(234, 254, 9);
}